<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthclubs.pengke.mapper.IUserAnswerChoiceMapper">

    <select id="getUserQuestionList"
            resultType="com.healthclubs.pengke.entity.UserAnswerChoice">

    select a.*,b.user_name as coach_Name from useranswerchoice as a LEFT JOIN userinfo as b  on a.coach_id = b.id
where a.user_id = #{userId}
GROUP by a.coach_id,a.record_time

     </select>

    <select id="getUserQuestionListByType"
            resultType="com.healthclubs.pengke.entity.UserAnswerChoice">

    select a.*,b.user_name as coach_Name from useranswerchoice as a LEFT JOIN userinfo as b  on a.coach_id = b.id
where a.user_id = #{userId}
GROUP by a.coach_id,a.record_time,a.question_type

     </select>

</mapper>
