<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthclubs.pengke.mapper.IUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.healthclubs.pengke.entity.UserInfo">
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="age" property="age" />
        <result column="email" property="email" />
        <result column="wxid" property="wxid" />
        <result column="head_img" property="headImg" />
        <result column="phone" property="phone" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="customer_tag" property="customerTag" />
        <result column="remarks" property="remarks" />
        <result column="coustom_level" property="coustomLevel"/>
    </resultMap>


    <select id="getUserAll"
            resultType="com.healthclubs.pengke.entity.UserInfo">
        SELECT * FROM userInfo
    </select>

     <select id="getTrainerByCoachId" parameterType="String"
             resultType="com.healthclubs.pengke.entity.UserInfo">
        select * from userinfo as a inner join
         studentandcoach as b on
         a.id = b.student_id where b.coach_id = #{coachId}

     </select>

     <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,wxid,head_img,phone,birthday,sex,user_name, age, email,customer_tag,remarks,coustom_level

    </sql>

</mapper>
